:root {
  --bg-color: #d0c1ae;
  --text-color: #78552a;
  --font-serif: 'EB Garamond', 'Big Caslon', serif;
  --font-sans: 'Jost', 'Futura Md BT', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: #f0f0f0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}